body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron{
    text-align: center;
}

.navbar, nav{
    border-bottom-color: red;
    background-color: red;
    -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
}
.navbar-brand{
    text-decoration-color: #000;
    background-color:  rgb(230,0,0)
}
#APP{
    background-color: #fff;
}
#Register{
    text-align: center;
}
#Jumbo2{
    background-color: #fff;
}