.post{
    font-size: 18px;   
    color:darkslategrey;
}
div{
    color:white;
}
h1{
    margin-top:25px;
    border-top: 2px solid ;
    border-top-color: #adadad;
    margin-top:5px;
    text-align: center;
}
h2{
    
    text-align: center;
    
}